[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "==6.0.0"
spotipy = "==2.4.4"
configparser = "==3.5.0"
cutie = "==0.2.2"
crontab = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
