/* change the background color */
.navbar-custom {
  background-color: #1d3b37;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #000000;
  padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
  color: #37f770;
  padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #1a1a1a;
  background-color: #133611; /* add background-color to active links */
}

.card-custom {
  background-color: #4f8ac7;
  color: #271515;
  padding: 1rem 1rem;
}

body {
  background: #0ca53f;
}
