{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
  {% if Name %}
  <p>Hello {{Name}}!</p>
  <br>
  <p>What would you like to do?</p>
  <ul>
    <li><a href="/tracks">Add Tracks</a></li>
    <li><a href="/manage-playlists">Manage Playlists</a></li>
    <li><a href="/setup-cron">Setup a cron task for your local computer</a></li>
  </ul>
  {% else %}
  <p>Hello friend! Click here to setup the Fresh Flask!</p>
  {% endif %}
{% endblock %}