{% extends "base.html" %}
{% block title %} Playlists {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  {% if track_info %}
    <p>Hello {{Name}}!</p>
    <br>
    <div class="accordion" id="accordionExample">
      <!-- print tracks -->
      {% for title, link, media in track_info %}
        <div class="card">
          <div class="card-header" id="headingOne">

            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">{{ title }}
            </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{ media|safe }}
              <a href="{{ link }}">{{ link }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
  <br />
  <div class="alert alert-warning" role="alert">
    {% if subreddit %}
    Hello friend! We could not find any tracks with the entered subreddit "{{ subreddit }}"
    {% else %}
    Please provide a subreddit!
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
